.footer{
    display: flex;
    padding-bottom: 2.22rem;
    padding-top: 2.22rem;
    position: relative;
    &:before{
        background-color: #0000001f;
        content: "";
        height: 1px;
        left: 2.22rem;
        position: absolute;
        right: 2.22rem;
        top: 0;
    }
}

.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}